<h2>Logged in as: <%= @user.email %></h2>

<% if @user.games == [] %>
  <h2>No Games! Get playing.</h2>
<% else %>
    <% @sessions_scores.each {|session, total_score| %>
    <p>Session Number: <%= session %> | Total Score: <%= total_score %>
    <% } %>
  </p>
<% end %>

<%= button_to "Update Account", edit_user_registration_path, method: :get %>

<%= button_to "Log Out", destroy_user_session_path, method: :delete %>

<%= button_to "Let's Play!", game_new_path, method: :get %>
