<!DOCTYPE html>
<html>
    <head>
        <title>Ph.Drinks</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag 'registrations' %>
        <%= stylesheet_link_tag    'application', media: 'all' %>
    </head>

    <body>
        <%= yield %>
        <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->
        <%= content_for :javascripts %>

    </body>
</html>
